{% extends "base.html" %}

{% block content %}
<a class="waves-effect waves-light btn left" href="/buy/item/{{item.id}}/">View Item</a>
<h3 class="center-align">{{item.title}}</h3>
<h5 class="center-align">기한: {{item.valid_from|date:'Y-m-d'}} ~ {{item.valid_to|date:'Y-m-d'}}
{% if date < item.valid_from %}
    <span>(시작 전)</span>
{% elif date > item.valid_to %}
    <span class="red-text">(마감됨!)</span>
{% else %}
    <span class="blue-text">(진행 중)</span>
{% endif %}
- 
{% if not payment %}
<span>참여하지 않음</span>
{% elif payment.is_paid %}
<span class="blue-text">입금 완료</span>
{% else %}
<span class="red-text">입금 필요</span>
{% endif %}
</h4>
<div class="divider"></div>
<div class="card-panel" style="padding-top:10px">
    <h5 class="center-align">By User</h5>
    <table class="highlight">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr {% if payment.user == user %}class="teal lighten-5"{% endif %}>
                <td>{{payment.user}} ({{payment.user.first_name}} {{payment.user.last_name}})</td>
                <td>{{payment.total}}</td>
                <td><i class="material-icons">{% if payment.is_paid %}done{% else %}warning{% endif %}</i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-panel" style="padding-top:10px">
    <h5 class="center-align">By Option</h5>
    <table class="highlight">
        <thead>
            <tr>
                <th>Option</th>
                <th>Num</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for option in options %}
            <tr>
                <td>{{option}}</td>
                <td>{{option.total_num}}</td>
                <td>{{option.total_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
