{% extends "base.html" %}

{% block content %}
<a class="waves-effect waves-light btn left" href="/buy/list/">View Item List</a>
<a class="waves-effect waves-light btn right" href="/buy/item/{{item.id}}/list/">View Customer List</a>
<h3 class="center-align">{{item.title}}</h3>
<h5 class="center-align">기한: {{item.valid_from|date:'Y-m-d'}} ~ {{item.valid_to|date:'Y-m-d'}}
{% if date < item.valid_from %}
    <span>(시작 전)</span>
{% elif date > item.valid_to %}
    <span class="red-text">(마감됨!)</span>
{% else %}
    <span class="blue-text">(진행 중)</span>
{% endif %}
- 
{% if not payment %}
<span>참여하지 않음</span>
{% elif payment.is_paid %}
<span class="blue-text">입금 완료</span>
{% else %}
<span class="red-text">입금 필요</span>
{% endif %}
</h4>
<div class="divider"></div>
<div class="card-panel">
{% autoescape off %}
    {{item.content}}
{% endautoescape %}
</div>
<div class="card-panel">
    <form action="/buy/item/{{item.id}}" method="post">
        <div class="row-wrap">
            {% for record in records %}
            <div class="row data">
                <div class="input-field col s6">
                    <select name="option" required>
                        <option value="" disabled data-price="0">옵션을 선택하세요</option>
                        {% for option in item.options.all %}
                        <option value="{{option.id}}" data-price="{{option.price}}" {% if option.id == record.option.id %}selected{% endif %}>{{option}}</option>
                        {% endfor %}
                    </select>
                    <label>옵션</label> 
                </div>
                <div class="input-field col s2">
                    <input class="validate" name="num" type="number" value="{{record.num}}" min="1" required>
                    <label>수량</label>
                </div>
                <div class="input-field col s3">
                    <input class="disabled" disabled name="sum" type="text" value="{{record.cost}} KRW">
                    <label>합계</label>
                </div>
                <div class="input-field col s1">
                    <button class="btn-floating btn-large waves-effect waves-light right red row-remove"><i class="material-icons">remove</i></button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row template" style="display:none;">
            <div class="input-field col s6">
                <select name="option" required>
                    <option value="" disabled selected data-price="0">옵션을 선택하세요</option>
                    {% for option in item.options.all %}
                    <option value="{{option.id}}" data-price="{{option.price}}">{{option}}</option>
                    {% endfor %}
                </select>
                <label>옵션</label> 
            </div>
            <div class="input-field col s2">
                <input class="validate" name="num" type="number" value="1" min="1" required>
                <label>수량</label>
            </div>
            <div class="input-field col s3">
                <input class="disabled" disabled name="sum" type="text" value="0 KRW">
                <label>합계</label>
            </div>
            <div class="input-field col s1">
                <button class="btn-floating btn-large waves-effect waves-light right red row-remove"><i class="material-icons">remove</i></button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s11">
                <input class="disabled" disabled name="total" type="text" value="0 KRW">
                <label>총계</label>
            </div>
            <div class="input-field col s1">
                <button class="btn-floating btn-large waves-effect waves-light right red row-add"><i class="material-icons">add</i></button>
            </div>
        </div>
    </form>
</div>

<script>
var calculate = function(obj) {
    var row = obj.parent().parent();
    var price = row.find("select[name=option] option:selected").data("price");
    var num = row.find("input[name=num]").val();
    row.find("input[name=sum]").val(price * num + " KRW");

    calculateAll();
};

var calculateAll = function(obj) {
    var total = 0;
    $("form div.data").each(function() {
        var str = $(this).find("input[name=sum]").val()
        total += parseInt(str.substr(0, str.length - 4));
    });
    $("input[name=total]").val(total + " KRW");
};

var remove = function(obj) {
    obj.parent().parent().remove();
    calculateAll();
};

$(document).ready(function() {
    $("div.row-wrap select").not(".disabled").material_select();
    $(".row-add").click(function() {
        var row = $("div.template").clone();
        row.appendTo("div.row-wrap");
        row.removeClass("template");
        row.addClass("data");
        row.find("select").not(".disabled").material_select();
        row.show();
    });
    calculateAll();

    {% if not user.is_authenticated or date < item.valid_from or date > item.valid_to %}
        $('form').find('input, textarea, button, select').attr('disabled','disabled');
    {% endif %}
});

$(document).on("click", ".row-remove", function() { remove($(this)); });
$(document).on("change", "select[name=option]", function() { calculate($(this).parent()); });
$(document).on("change", "input[name=num]", function() { calculate($(this)); });
</script>
{% endblock %}
