{% extends "base.html" %}

{% block content %}
<h3 class="center-align">SPARCS 공동 구매 목록</h3>
<div class="divider"></div>
{% for item in items %}
<div class="card-panel" style="padding-top:10px">
    <h4>{{item.title}} 
    <small style="font-size:60%">
        {% if date < item.valid_from %}
        <span>시작 전 ({{item.valid_from|date:'Y-m-d'}} ~ {{item.valid_to|date:'Y-m-d'}})</span>
        {% elif date > item.valid_to %}
        <span class="red-text">마감됨! (~{{item.valid_to|date:'Y-m-d'}})</span>
        {% else %}
        <span class="blue-text">진행 중 (~{{item.valid_to|date:'Y-m-d'}})</span>
        {% endif %}
        - 
        {% if not item.payment %}
        <span>참여하지 않음</span>
        {% elif item.payment.is_paid %}
        <span class="blue-text">입금 완료</span>
        {% else %}
        <span class="red-text">입금 필요</span>
        {% endif %}
    </small></h4>
    {% autoescape off %}
    {{item.content|truncatechars_html:100}}
    {% endautoescape %}
    <p style="margin-bottom:0"><a class="waves-effect waves-light btn" href="/buy/item/{{item.id}}/">View Item</a></p>
</div>
{% endfor %}

<ul class="pagination center-align">
    <li class="{% if not has_previous %}disabled{% endif %}"><a href="?page={{cur_page|add:"-1"}}"><i class="material-icons">chevron_left</i></a></li>
    {% for page in page_range %}
    <li class="{% if page == cur_page %}active{% else %}waves-effect{% endif %}"><a href="?page={{page}}">{{page}}</a></li>
    {% endfor %}
    <li class="{% if not has_next %}disabled{% endif %}"><a href="?page={{cur_page|add:"+1"}}"><i class="material-icons">chevron_right</i></a></li>
</ul>
{% endblock %}
